* {
    margin: 0;
    font-family: "Assistant", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 24
}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 */

.assistant-200 {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
}

.special button{
    background-color: rgb(82, 88, 228);
    border-color: rgb(82, 88, 228);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    height: 32px;
    margin: 5vw;
    width: 90%;
}

.special button:disabled {
    background-color: rgb(177, 177, 177);
    border-color: rgb(177, 177, 177);
}

.special button:not([disabled]):hover {
    background-color: rgb(64, 70, 202);
    cursor: pointer;
}

.pbtn button {
    background-color: rgb(82, 88, 228);
    border-color: rgb(82, 88, 228);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    height: 32px;
    margin-top: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    width: 90%;
}

.pbtn button:disabled {
    background-color: rgb(177, 177, 177);
    border-color: rgb(177, 177, 177);
}

.pbtn button:not([disabled]):hover {
    background-color: rgb(64, 70, 202);
    cursor: pointer;
}


#canvas {
    width: 85vw;
    align-self: center;
}

h2 {
    padding: 5vw 0px;
    margin: 0px 5vw;
    color: #222222;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.color {
    margin: 3vw 0px;
    width: 30vw;
}

#colorsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#singleColorBox {
    padding: 0px 8vw;
    display: flex;
    flex-direction: column;
}

#altTextBox {
    display: flex;
    flex-direction: column;
}

#altTextBox label {
    padding: 0px 5vw;
    font-size: 1.2rem;
}

#altTextBox #alt-text {
    padding: 0px 5vw;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
    color:#222222
}

#slider{
    align-self: center;
    margin: 0px 0vw;
    margin-top: -8px;
}

#colorBar {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 5vw;
    align-self: center;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #FF4F4F, #FF4F4F, #FFF84F, #8AFF33, #8AFF33);
}

#progressBar{
    margin-left: 5vw;
    margin-right: 5vw;
}


#restext {
    margin-left: 10px;
}

#restext a{
    font-weight: 700;
}

h4 {
    padding: 2vw;
    font-style: bold;
    margin-left: 2vw;
    font-size: 1.15em;
}

#progressBar a{
    font-weight: 900;
    font-size: 2rem;
    padding-left: 0;
}

.textContrast{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

b{
    text-align: center;
}

#boxOne{
    margin-left: 2vw;
    float: left;
}

#boxTwo{
    margin-right: 2vw;
    float: right;
   
}

#colorBlind{
    margin: 2vw;
    overflow-x: hidden;
}

.colors {
    overflow-x: hidden;
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.colors div{
    width: 100%;
    height: 50px;
}

.PASS{
    color: green;
}

.FAIL{
    color: #FF4F4F;
}
