*{
    margin:0;
}

#imgContainer {
    display: flex;
    flex-direction: column;
}

img {
    border: 5px soild black;
}

button {
    background-color: rgb(82, 88, 228);
    border-color: rgb(82, 88, 228);
    border-radius: 16px;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    height: 32px;
    margin: 5vw;
}

button:disabled {
    background-color: rgb(177, 177, 177);
    border-color: rgb(177, 177, 177);
}

button:not([disabled]):hover {
    background-color: rgb(64, 70, 202);
    cursor: pointer;
}

#canvas{
    margin: 5vw;
    width: 90vw;
    align-items: center;
    /* border: 3px solid black; */
}

.box{
    /* border: 3px solid #555; */
}

.box h2{
    padding: 5vw 0px 10px;
    margin: 0px 5vw;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color{
    margin: 3vw 0px;
    width:30vw;
}

#colorBar{
    margin: 2vw 8px 5vw;
    width: auto;
    border: 1px solid black;
    background-color: green;
}

#colorsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#singleColorBox{
    padding: 3vw;
    display: flex;
    flex-direction: column;
}
